/* 
-   Project: ""
-   File: css/style.css
-   Description: style or design by css
*/

#search_bar::placeholder
{
    color: var(--bs-light);
}

/* navlink */

.nav-link
{
    padding: 5px 10px;
}
.nav-link:hover
{
    background: var(--bs-info);
    color:var(--bs-dark);
}

/* card */

.info_link
{
    padding: 1px 3px;
    text-decoration: none;
    color:var(--bs-body);
}
.info_link .bi
{
    color: var(--bs-info);
}
.info_link:hover
{
    border-bottom: 1px solid var(--bs-dark);
}

/* pagination */
#pagination
{
    /* background: var(--bs-dark); */
}
.page-link
{
    /* background: var(--bs-dark); */
}

/* Developer: Mayank Devil | https://mayankdevil.github.io/MayankDevil */